<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/main.css">
  </head>

  <div class="row-button">

      <div class="back-button">
          <a href="/billiards/prize"><button class="shop-button">BACK</button></a>
      </div>

      <div class="home-button">
          <a href="/billiards"><button class="shop-button">HOME</button></a>
      </div>

  </div>

  <body class="edit-background">

    <h3>EDIT PRIZE</h3>

        <div class='edit-container'>

          <form action="/billiards/prize/<%=billiard.id%>?_method=PUT" method="POST">
              <img src="<%=billiard.img %>"</a><br/>
              Name: <br/> <input type="text" name="name" value="<%=billiard.name%>"><br/>
              Description: <br/> <input type="text" name="description" value="<%=billiard.description%>"><br/>
              Quantity: <br/> <input type="number" name="quantity" value="<%=billiard.quantity%>"><br/>
              <div class="edit">
                  <input type="submit" name="" value="Submit Changes" /><br/>
              </div>

          </form>

        </div>

  </body>
</html>
